@page "/picking-lists/{Id:int}"
@using MetalFlowSystemV2.Client.Models
@using MetalFlowSystemV2.Client.Services
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Web
@inject PickingListClientService PickingListService
@inject NavigationManager Navigation
@attribute [Authorize]
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))

<MudContainer MaxWidth="MaxWidth.Large" Class="mt-8">
    <MudBreadcrumbs Items="_breadcrumbs"></MudBreadcrumbs>

    @if (_loading)
    {
        <MudProgressCircular Indeterminate="true" />
    }
    else if (_dto == null)
    {
        <MudAlert Severity="Severity.Error">Picking List not found.</MudAlert>
    }
    else
    {
        <MudText Typo="Typo.h4" GutterBottom="true">Picking List #@_dto.PickingListNumber</MudText>

        <MudGrid>
            <MudItem xs="12" sm="6">
                <MudCard>
                    <MudCardContent>
                        <MudText><b>Buyer:</b> @_dto.Buyer</MudText>
                        <MudText><b>Sales Rep:</b> @_dto.SalesRep</MudText>
                        <MudText><b>Ship Via:</b> @_dto.ShipVia</MudText>
                        <MudText><b>Status:</b> @_dto.Status</MudText>
                    </MudCardContent>
                </MudCard>
            </MudItem>
            <MudItem xs="12" sm="6">
                <MudCard>
                    <MudCardContent>
                         <MudText><b>Ship To:</b></MudText>
                         <MudText Typo="Typo.body2">@_dto.ShipTo</MudText>
                         <MudText Class="mt-2"><b>Instructions:</b></MudText>
                         <MudText Typo="Typo.body2">@_dto.OrderInstructions</MudText>
                    </MudCardContent>
                </MudCard>
            </MudItem>
        </MudGrid>

        <MudTable Items="@_dto.Lines" Hover="true" Breakpoint="Breakpoint.Sm" Class="mt-4">
            <HeaderContent>
                <MudTh>Line</MudTh>
                <MudTh>Item</MudTh>
                <MudTh>Description</MudTh>
                <MudTh>Qty</MudTh>
                <MudTh>Unit</MudTh>
                <MudTh>W x L</MudTh>
                <MudTh>Weight</MudTh>
                <MudTh>Area</MudTh>
                <MudTh>Reserved</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Line">@context.LineNumber</MudTd>
                <MudTd DataLabel="Item">@context.ItemCode</MudTd>
                <MudTd DataLabel="Description">@context.Description</MudTd>
                <MudTd DataLabel="Qty">@context.OrderQuantity</MudTd>
                <MudTd DataLabel="Unit">@context.OrderUnit</MudTd>
                <MudTd DataLabel="W x L">
                    @if(context.WidthIn > 0 && context.LengthIn > 0)
                    {
                        @($"{context.WidthIn:G29} x {context.LengthIn:G29}")
                    }
                </MudTd>
                <MudTd DataLabel="Weight">@context.LineWeightLbs?.ToString("N0")</MudTd>
                <MudTd DataLabel="Area">@context.ProductionArea</MudTd>
                <MudTd DataLabel="Reserved">
                    @if (context.ReservedMaterials.Any())
                    {
                        @foreach(var res in context.ReservedMaterials)
                        {
                            <div>@res.TagNumber (@res.Quantity @res.Unit) @res.Location</div>
                        }
                    }
                </MudTd>
            </RowTemplate>
        </MudTable>
    }
</MudContainer>

@code {
    [Parameter] public int Id { get; set; }

    private bool _loading = true;
    private PickingListDetailDto? _dto;
    private List<BreadcrumbItem> _breadcrumbs = new();

    protected override async Task OnInitializedAsync()
    {
        _breadcrumbs = new List<BreadcrumbItem>
        {
            new BreadcrumbItem("Picking Lists", href: "picking-lists"),
            new BreadcrumbItem($"Details", href: null, disabled: true)
        };

        _dto = await PickingListService.GetPickingListDetailAsync(Id);
        _loading = false;
    }
}
